# Тестовое задание на позицию "Аналитик данных".

## Тестовое задание SQL

In [1]:
# Импорт библиотек
import pandas as pd
import sqlite3
sqlite3.sqlite_version

'3.39.3'

In [2]:
# Подключение к файлу базы данных с именем “db”
con1 = sqlite3.connect('db1')

In [3]:
# Создание таблицы MainMenu
data_main = {'ID_Dish': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
             'Name': ['Салат Цезарь',
                      'Салат Греческий',
                      'Овощной суп',
                      'Суп куриный', 
                      'Суп Харчо',
                      'Спагетти карбонара',
                      'Мясная лазанья',
                      'Пирожочек с капустой',
                      'Чизкейк',
                      'Капучино',
                      'Nescafe 3 in 1',
                      'Чай вкусный'],
             'Group_name': ['Салаты',
                       'Салаты',
                       'Супы',
                       'Супы',
                       'Супы', 
                       'Основное блюдо',
                       'Основное блюдо',
                       'Десерты',
                       'Десерты',
                       'Напитки',
                       'Напитки',
                       'Напитки'],  
             'Price': [400, 300, 200, 250, 350, 400, 350, 50, 250, 150, 50, 100]}

MainMenu = pd.DataFrame(data_main)
MainMenu

    ID_Dish                  Name      Group_name  Price
0         1          Салат Цезарь          Салаты    400
1         2       Салат Греческий          Салаты    300
2         3           Овощной суп            Супы    200
3         4           Суп куриный            Супы    250
4         5             Суп Харчо            Супы    350
5         6    Спагетти карбонара  Основное блюдо    400
6         7        Мясная лазанья  Основное блюдо    350
7         8  Пирожочек с капустой         Десерты     50
8         9               Чизкейк         Десерты    250
9        10              Капучино         Напитки    150
10       11        Nescafe 3 in 1         Напитки     50
11       12           Чай вкусный         Напитки    100

In [4]:
# Создание таблицы VegMenu
data_veg = {'ID_Dish': [13, 2, 3, 14, 8, 10, 15, 12],
             'Name': ['Винегрет',
                      'Салат Греческий',
                      'Овощной суп',
                      'Гречневая лапша с овощами',
                      'Пирожочек с капустой',
                      'Капучино',
                      'Апельсиновый сок (Fresh)',
                      'Чай вкусный'],
             'Group_name': ['Салаты',
                       'Салаты',
                       'Супы',
                       'Основное блюдо', 
                       'Десерты',
                       'Напитки',
                       'Напитки',
                       'Напитки'],  
             'Price': [200, 300, 200, 350, 50, 150, 200, 100]}

VegMenu = pd.DataFrame(data_veg)
VegMenu

   ID_Dish                       Name      Group_name  Price
0       13                   Винегрет          Салаты    200
1        2            Салат Греческий          Салаты    300
2        3                Овощной суп            Супы    200
3       14  Гречневая лапша с овощами  Основное блюдо    350
4        8       Пирожочек с капустой         Десерты     50
5       10                   Капучино         Напитки    150
6       15   Апельсиновый сок (Fresh)         Напитки    200
7       12                Чай вкусный         Напитки    100

**Описание столбцов таблиц:**  
`ID_Dish` – Номер блюда,  
`Name` – Название блюда,  
`Group` – Раздел меню,  
`Priсe` – Цена

In [5]:
# Подключение к файлу базы данных с именем “db”
con = sqlite3.connect('db')

In [6]:
# Запись исходных таблиц в базу SQL
MainMenu.to_sql('MainMenu', con, index=False, if_exists='replace')
VegMenu.to_sql('VegMenu', con, index=False, if_exists='replace')

8

### **Задание**    
Напишите результат следующих запросов:     

a)  
`Select MainMenu.Name, VegMenu.Name    
From MainMenu Inner join VegMenu    
on (MainMenu.ID_Dish = VegMenu.ID_Dish)`  

b)   
`Select MainMenu.Name, VegMenu.Name    
From MainMenu Left join VegMenu    
on (MainMenu.ID_Dish = VegMenu.ID_Dish)`  

c)   
`Select MainMenu.Name, VegMenu.Name    
From MainMenu Full outer join VegMenu    
on (MainMenu.ID_Dish = VegMenu.ID_Dish)`

**Решение:**

a) Оператор внутреннего соединения `(INNER JOIN)` в SQL используется для объединения данных из двух или более таблиц, возвращая только те строки, которые присутствуют в обеих таблицах. Он создаёт результирующую таблицу, содержащую все строки из первой таблицы, для которых есть соответствующие строки в другой таблице, на основе общего значения в указанных столбцах `(MainMenu.ID_Dish = VegMenu.ID_Dish)`.

In [7]:
# Выполнение SQL запроса
sql_1 = '''
SELECT MainMenu.Name AS NameMainMenu,
       VegMenu.Name AS VegMainMenu
FROM MainMenu
INNER JOIN VegMenu ON (MainMenu.ID_Dish = VegMenu.ID_Dish)       
'''

In [8]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_1, con)

           NameMainMenu           VegMainMenu
0       Салат Греческий       Салат Греческий
1           Овощной суп           Овощной суп
2  Пирожочек с капустой  Пирожочек с капустой
3              Капучино              Капучино
4           Чай вкусный           Чай вкусный

б) Оператор левого соединения `(LEFT JOIN)` в SQL также используется для объединения данных из двух таблиц, но возвращает все строки из левой таблицы, даже если нет соответствующих строк в правой таблице. Он дополняет результирующую таблицу строками из левой таблицы, для которых нет совпадающих строк в правой таблице, заполняя недостающие столбцы из правой таблицы значениями по умолчанию.

In [9]:
# Выполнение SQL запроса
sql_2 = '''
SELECT MainMenu.Name AS NameMainMenu,
       VegMenu.Name AS VegMainMenu
FROM MainMenu 
LEFT JOIN VegMenu ON (MainMenu.ID_Dish = VegMenu.ID_Dish)      
'''

In [10]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_2, con)

            NameMainMenu           VegMainMenu
0           Салат Цезарь                  None
1        Салат Греческий       Салат Греческий
2            Овощной суп           Овощной суп
3            Суп куриный                  None
4              Суп Харчо                  None
5     Спагетти карбонара                  None
6         Мясная лазанья                  None
7   Пирожочек с капустой  Пирожочек с капустой
8                Чизкейк                  None
9               Капучино              Капучино
10        Nescafe 3 in 1                  None
11           Чай вкусный           Чай вкусный

в) Оператор полного внешнего соединения `(FULL OUTER JOIN)` объединяет данные из двух таблиц на основе совпадающих значений в указанных столбцах `(MainMenu.ID_Dish = VegMenu.ID_Dish)` , возвращая все строки из обеих таблиц. Он возвращает все строки из каждой таблицы, даже если нет соответствия в другой таблице.

In [11]:
# Выполнение SQL запроса
sql_3 = '''
SELECT MainMenu.Name AS NameMainMenu,
       VegMenu.Name AS VegMainMenu
FROM MainMenu 
FULL OUTER JOIN VegMenu ON (MainMenu.ID_Dish = VegMenu.ID_Dish)      
'''

In [12]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_3, con)

            NameMainMenu                VegMainMenu
0           Салат Цезарь                       None
1        Салат Греческий            Салат Греческий
2            Овощной суп                Овощной суп
3            Суп куриный                       None
4              Суп Харчо                       None
5     Спагетти карбонара                       None
6         Мясная лазанья                       None
7   Пирожочек с капустой       Пирожочек с капустой
8                Чизкейк                       None
9               Капучино                   Капучино
10        Nescafe 3 in 1                       None
11           Чай вкусный                Чай вкусный
12                  None                   Винегрет
13                  None  Гречневая лапша с овощами
14                  None   Апельсиновый сок (Fresh)

### **Задание**    
Бедный студент хочет посчитать минимальную стоимость ужина из салата, основного блюда и напитка.   
a) Напишите запрос, который возвращает минимальную стоимость блюда по разделам меню, которые смотрит студент.   
b) Выведите запросом сумму заказа, по списку из пункта a.

**Решение:**

a) Из условия задачи не ясно из какого меню `(MainMenu или VegMenu)` студент хочет узнать минимальную стоимость ужина. Поэтому объединим 2 меню с помощью метода `UNION` (совпадающие позиции из меню не будут повторяться) и в дальнейшем будем обращаться к объединённой тоблице с помощью подзапроса. 
В основном запросе выпольним фильтрацию по искомым разделам меню и выведем минимальную стоимость блюда по этим разделам.

In [13]:
# Выполнение SQL запроса
sql_4 = '''
SELECT Group_name,
       MIN(Price) 
FROM (SELECT *     
      FROM MainMenu 
      UNION
      SELECT *     
      FROM VegMenu) AS t
WHERE Group_name IN ('Салаты', 'Основное блюдо', 'Напитки')  
GROUP BY Group_name
'''

In [14]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_4, con)

       Group_name  MIN(Price)
0         Напитки          50
1  Основное блюдо         350
2          Салаты         200

б) Для вывода минимальной суммы заказа будем использовать весь запрос из **пункта а** в качестве подзапроса, после чего воспользуемся агрегирующей функцией `SUM`.

In [15]:
# Выполнение SQL запроса
sql_5 = '''
SELECT SUM(min_price)
FROM (SELECT Group_name,
             MIN(Price) AS min_price
      FROM (SELECT *     
            FROM MainMenu 
            UNION
            SELECT *     
            FROM VegMenu) AS t
      WHERE Group_name IN ('Салаты', 'Основное блюдо', 'Напитки')  
      GROUP BY Group_name)
'''

In [16]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_5, con)

   SUM(min_price)
0             600

### **Задание**   
Хитрый официант хочет предложить посетителю по самому дорогому блюду из каждого раздела Главного меню. Каким запросом можно вывести список самых дорогих блюд по разделам на основании таблицы `MainMenu`? Результат в виде таблицы со столбцами `Name`, `Group`, `Price`.

**Решение:**
В данном запросе выполним группировку блюд из основного меню по его разделам, после чего воспользуемся агрегирующей функцией `MAX` для поиска максимальной цены и выведем необходимы поля.

In [17]:
# Выполнение SQL запроса
sql_6 = '''
SELECT Name,
       Group_name,
       MAX(Price)
FROM MainMenu 
GROUP BY Group_name
'''

In [18]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_6, con)

                 Name      Group_name  MAX(Price)
0             Чизкейк         Десерты         250
1            Капучино         Напитки         150
2  Спагетти карбонара  Основное блюдо         400
3        Салат Цезарь          Салаты         400
4           Суп Харчо            Супы         350

### **Задание**   
Шеф-повар хочет изменить Вегетарианское меню так, чтобы все блюда в Главном и Вегетарианском меню были разными. Напишите запрос, которым можно вывести все блюда из таблицы `VegMenu`, которых нет в таблице `MainMenu`.

**Решение:**
Для этой задачи объедим таблицу `VegMenu` с таблицей MainMenu с помощью `LEFT JOIN`. Таким образом в столбцах из таблицы `MainMenu` появятся пропуски для тех строк из таблицы `VegMenu` которых не в таблице `MainMenu`. После этого выполним фильтрацию с помощью `WHER`E оставим только строки без пропусков, и затем выведем необходимые поля.

In [19]:
# Выполнение SQL запроса
sql_7 = '''
SELECT v.ID_Dish,
       v.Name,
       v.Group_name,
       v.Price
FROM VegMenu as v
LEFT JOIN MainMenu as m ON (v.ID_Dish = m.ID_Dish)
--WHERE m.ID_Dish is NULL
'''

In [20]:
# Загрузка результатов запроса в pandas DataFrame
pd.read_sql(sql_7, con)

   ID_Dish                       Name      Group_name  Price
0       13                   Винегрет          Салаты    200
1        2            Салат Греческий          Салаты    300
2        3                Овощной суп            Супы    200
3       14  Гречневая лапша с овощами  Основное блюдо    350
4        8       Пирожочек с капустой         Десерты     50
5       10                   Капучино         Напитки    150
6       15   Апельсиновый сок (Fresh)         Напитки    200
7       12                Чай вкусный         Напитки    100

## Тестовое задание Python

Дана строка длины N, где N - целое число, степень 4. Элементами строки являются латинские маленькие буквы от "a" до "z".
Строка может быть записана в виде пирамиды.
Например, строка "a" может быть записана в виде:
```
   ^
  /a\
 *---*
 ```
строка "abcd" в виде:
```
     ^
    /d\
   *---*
  /c\b/a\
 *---*---*
 ```
строка "abcdefghijklmnop" в виде:
```
         ^
        /p\
       *---*
      /o\n/m\
     *---*---*
    /l\k/j\i/h\
   *---*---*---*
  /g\f/e\d/c\b/a\
 *---*---*---*---*
 ```
и так далее.
Пирамида размером более 4 элементов может быть представлена в виде нескольких пирамид по 4 элемента.
Например, пирамида:
```
         ^
        /p\
       *---*
      /o\n/m\
     *---*---*
    /l\k/j\i/h\
   *---*---*---*
  /g\f/e\d/c\b/a\
 *---*---*---*---*
 ```
может быть представлена в виде 4х пирамид:
```
              ^
             /p\
            *---*
           /o\n/m\
          *---*---*
       
     *    *---*---*    *
    /l\    \k/j\i/    /h\
   *---*    *---*    *---*
  /g\f/e\    \d/    /c\b/a\
 *---*---*    *    *---*---*
 ```
Пирамида из 64 элементов разбивается на
```
                     ^
                    / \
                   *---*
                  / \ / \
                 *---*---*
               * *---*---* *
              / \ \ / \ / / \
             *---* *---* *---*
            / \ / \ \ / / \ / \
           *---*---* * *---*---*
         * *---*---* * *---*---* *
        / \ \ / \ / / \ \ / \ / / \
       *---* *---* *---* *---* *---*
      / \ / \ \ / / \ / \ \ / / \ / \
     *---*---* * *---*---* * *---*---*
    * *---*---* * *---*---* * *---*---* *
   / \ \ / \ / / \ \ / \ / / \ \ / \ / / \
  *---* *---* *---* *---* *---* *---* *---*
 / \ / \ \ / / \ / \ \ / / \ / \ \ / / \ / \
*---*---* * *---*---* * *---*---* * *---*---*
```
И так далее.
Если все элементы внутри пирамиды из 4-х элементов одинаковые, то пирамида может быть сжата до одного элемента:
```
     ^
    /a\      ^
   *---* -> /a\
  /a\a/a\  *---*
 *---*---*
 ```
Пирамида размером более 4-х элементов может быть сжата, если сжимаются все 4-х элементные пирамиды, из которых она состоит.
```
        ^
       /a\
      *---*           ^
     /a\a/a\         /a\
    *---*---* ->    *---*
   /b\c/c\c/d\     /b\c/d\
  *---*---*---*   *---*---*
 /b\b/b\c/d\d/d\
*---*---*---*---*
```
К полученной пирамиде можно снова попробовать применить операцию сжатия.   


Необходимо написать программу на языке программирования Python, сжимающую пирамиду до самого маленького размера и вывести ее строковое представление.    
Исходная строка находится в файле input.txt    
Результирующую строку необходимо записать в файл output.txt    

Критерии оценки:   
1. Программа должна работать правильно.    
2. Код должен легко читаться и обслуживаться.    
3. Код не должен включать в себе лишнюю функциональность, а делать только то, что требуется в задаче.    
4. Код должен быть оформлен по PEP8.    
5. В реализации должно быть использовано ООП.    

**Пример 1:**   
`input.txt`   
a   
`output.txt`    
a    

**Пример 2:**   
`input.txt`   
abcd   
`output.txt`   
abcd   

**Пример 3:**   
`input.txt`   
aaabcccabbbcdddd   
`output.txt`    
abcd    

**Пример 4:**   
`input.txt`     
aaaaaaabcccccccaaaaabbbcccccaaabbbbbcccabbbbbbbcdddddddddddddddd      
`output.txt`     
abcd

**Решение (исследовательская часть):**

In [21]:
# Импорт итератора
from itertools import chain

In [22]:
# Класс для записи строки в файл и её чтения из этого же файла
class SomeClass:
    def __init__(self, file_name, text):
        self.file_name = file_name
        self.text = text
    
    def write_file(self):
        with open(self.file_name, 'w') as f:
            f.write(self.text)
        return f'Произошла запись строки в файл: {self.file_name}'
    
    def open_file(self):
        with open(self.file_name, 'r') as f:
            string = f.read()
        return string

In [23]:
# Строки для теста
text1 = 'a'
text2 = 'abcd'
text3 = 'aaabcccabbbcdddd'
text4 = 'aaaaaaabcccccccaaaaabbbcccccaaabbbbbcccabbbbbbbcdddddddddddddddd'

# Вызов класса и запись с помощью него строки в файл
my_object1 = SomeClass('input1.txt', text1)
my_object1.write_file()
my_object2 = SomeClass('input2.txt', text2)
my_object2.write_file()
my_object3 = SomeClass('input3.txt', text3)
my_object3.write_file()
my_object4 = SomeClass('input4.txt', text4)
my_object4.write_file()

'Произошла запись строки в файл: input4.txt'

In [24]:
# Чтение строки из файла
string1 = my_object1.open_file()
string2 = my_object2.open_file()
string3 = my_object3.open_file()
string4 = my_object4.open_file()
print(string1)
print(string2)
print(string3)
print(string4)

a
abcd
aaabcccabbbcdddd
aaaaaaabcccccccaaaaabbbcccccaaabbbbbcccabbbbbbbcdddddddddddddddd

In [25]:
string = string4

In [26]:
# Проверка на то, является ли длина строки числом степенью 4
num = len(string)
while num % 4 == 0 and num != 0:
    num //= 4
if num == 1:
    print('Длина строки является степенью числа 4')   
else:
    print('длина строки не является степенью числа 4')

Длина строки является степенью числа 4

In [27]:
# Рассчёт количества пирамид на каждом уровне итоговой пирамиды
sum_string = 1
level_p = {}
level_p[1] = 1
n = 2
while sum_string != len(string) / 4:
    level_p[n] = level_p[n-1] + 2
    sum_string += level_p[n]
    n += 1
pd.DataFrame(level_p, index=['Количество пирамид на уровне']).T

   Количество пирамид на уровне
1                             1
2                             3
3                             5
4                             7

In [28]:
# Количество уровней пирамид
p_max = max(level_p.keys())
p_max

4

In [29]:
# Разделение исходной строки на пирамиды согласно условию задачи
p_all = []
for l in range(1, p_max+1)[::-1]:
    p = []
    for i in range(level_p[l]):
        if i % 2 == 0:
            p.append(string[i*2: i*2+3] + string[i*2+2*level_p[l]+1])
        else:
            p.append(string[i*2+1] + string[i*2+2*level_p[l]: i*2+2*level_p[l]+3])
    p_all.append(p)
    string = string[i*2+2*level_p[l]+2:]
p_all

[['aaaa', 'aaaa', 'aaaa', 'bbbb', 'cccc', 'cccc', 'cccc'],
 ['aaaa', 'bbbb', 'bbbb', 'bbbb', 'cccc'],
 ['dddd', 'dddd', 'dddd'],
 ['dddd']]

In [30]:
# Трансформация вложенных списков в общий
p_all = list(chain.from_iterable(p_all))
len(p_all)

16

In [31]:
# Сжатие пирамид и вывод получившегося результата в виде строки
p_new = []
for p in p_all:
    if p[0] == p[1] == p[2] == p[3]:
        p_new.append(p[0])
if (len(p_new) % 4 == 0) and len(p_new) > 0:
    output = ''.join(p_new)
else:
    output = ''.join(p_all)
output

'aaabcccabbbcdddd'

**Замечание:**      
Это была исследовательская часть решения задачи.    
Далее, для решения задачи обернём алгоритмы в функции и для сжатия пирамид будем рекурсивно их вызывать.

**Решение (с помощью функций):**

In [32]:
# Проверка на то, является ли длина строки числом степенью 4 и рассчёт количества пирамид на каждом уровне итоговой пирамиды
def check_level(text):
    num = len(text)
    while num % 4 == 0 and num != 0:
        num //= 4
    if num != 1:
        print('Длина строки не является степенью числа 4') 
    else:
        sum_string = 1
        level_p = {}
        level_p[1] = 1
        n = 2
        while sum_string != len(text) / 4:
            level_p[n] = level_p[n-1] + 2
            sum_string += level_p[n]
            n += 1
        return level_p

In [33]:
# Разделение исходной строки на пирамиды согласно условию задачи
def bild_piramids(text):
    level_p = check_level(text)
    p_max = max(level_p.keys())
    p_all = []
    for l in range(1, p_max+1)[::-1]:
        p = []
        for i in range(level_p[l]):
            if i % 2 == 0:
                p.append(text[i*2: i*2+3] + text[i*2+2*level_p[l]+1])
            else:
                p.append(text[i*2+1] + text[i*2+2*level_p[l]: i*2+2*level_p[l]+3])
        p_all.append(p)
        text = text[i*2+2*level_p[l]+2:]
    p_all = list(chain.from_iterable(p_all))
    return p_all

In [34]:
# Сжатие пирамид и вывод получившегося результата в виде строки
def comp_piramids(text):
    if len(text) == 1:
        return text
    p_new = []
    p_all = bild_piramids(text)
    for p in p_all:
        if p[0] == p[1] == p[2] == p[3]:
            p_new.append(p[0])
    if (len(p_new) % 4 == 0) and len(p_new) > 0:
        output = ''.join(p_new)
        return comp_piramids(output)
    else:
        output = ''.join(p_all)
        return output

In [35]:
print(comp_piramids(string1))
print(comp_piramids(string2))
print(comp_piramids(string3))
print(comp_piramids(string4))

a
abcd
abcd
abcd

**Решение (с помощью ООП):**

In [36]:
class PyramidCompression:
    
    def __init__(self, text):
        self.text = text
    
    # Проверка на то, является ли длина строки числом степенью 4 и рассчёт количества пирамид на каждом уровне итоговой пирамиды
    def check_level(self):
        num = len(self.text)
        while num % 4 == 0 and num != 0:
            num //= 4
        if num != 1:
            print('Длина строки не является степенью числа 4') 
            return 
        else:
            sum_string = 1
            level_p = {}
            level_p[1] = 1
            n = 2
            while sum_string != len(self.text) / 4:
                level_p[n] = level_p[n-1] + 2
                sum_string += level_p[n]
                n += 1
            return level_p
        
    # Разделение исходной строки на пирамиды согласно условию задачи
    def bild_piramids(self):
        level_p = self.check_level()
        p_max = max(level_p.keys())
        p_all = []
        for l in range(1, p_max+1)[::-1]:
            p = []
            for i in range(level_p[l]):
                if i % 2 == 0:
                    p.append(self.text[i*2: i*2+3] + self.text[i*2+2*level_p[l]+1])
                else:
                    p.append(self.text[i*2+1] + self.text[i*2+2*level_p[l]: i*2+2*level_p[l]+3])
            p_all.append(p)
            self.text = self.text[i*2+2*level_p[l]+2:]
        p_all = list(chain.from_iterable(p_all))
        return p_all
    
    # Сжатие пирамид и вывод получившегося результата в виде строки
    def comp_piramids(self, t=None):
        self.t = t
        if len(self.text) == 1:
            return self.text
        p_new = []
        p_all = self.bild_piramids()
        for p in p_all:
            if p[0] == p[1] == p[2] == p[3]:
                p_new.append(p[0])
        if (len(p_new) % 4 == 0) and (len(p_new) > 0):
            output = ''.join(p_new)
            self.text = output
            return self.comp_piramids()
        else:
            output = ''.join(p_all)
            return output

In [37]:
# Проверка 1 строки
comp_str1 = PyramidCompression(string1)
out_1 = comp_str1.comp_piramids()
output1 = SomeClass('output1.txt', out_1)
output1.write_file()
out_1

'a'

In [38]:
# Проверка 2 строки
comp_str2 = PyramidCompression(string2)
out_2 = comp_str2.comp_piramids()
output2 = SomeClass('output2.txt', out_2)
output2.write_file()
out_2

'abcd'

In [39]:
# Проверка 3 строки
comp_str3 = PyramidCompression(string3)
out_3 = comp_str3.comp_piramids()
output3 = SomeClass('output3.txt', out_3)
output3.write_file()
out_3

'abcd'

In [40]:
# Проверка 4 строки
comp_str4 = PyramidCompression(string4)
out_4 = comp_str4.comp_piramids()
output4 = SomeClass('output4.txt', out_4)
output4.write_file()
out_4

'abcd'

**Вывод:**      
Основные преобразования данный класс выполняет. Однако, некоторые проверки не учтены. Например, если на вход поступает строка не являющаяся степенью числа 4, то вознмкает ошибка.

Также для выполнения записи строк в файл и чтения строк из файла использовался отдельный класс `SomeClass`. Возможно, я не до конца понял задание и нужно было "засунуть" функциональность этого класса в итоговый класс `PyramidCompression`.